.card__sub-banner
    width: 100%
    height: 72px
    border-radius: 16px
    position: relative
    color: #FFFFFF
    display: flex
    justify-content: flex-end
    align-items: center
    padding-right: 16px
    box-sizing: border-box
    &::before, &::after
        position: absolute
        content: ""
        width: 100%
        height: 100%
        top: 0
        background-repeat: no-repeat
        background-position: 50%
        background-size: cover
        z-index: 1
    &::after
        left: 0
        width: 160px
        background-image: url('../../public/icons/sub-baner-light.svg')
        z-index: 5

.card_sub-banner__title, .card_sub-banner__hint
    position: relative
    z-index: 3
    font-family: 'Mazzard'

.card_sub-banner__title
    font-size: 24px
    width: 179px

.card_sub-banner__hint
    width: 20px
    cursor: pointer
    
.card-1__sub-banner
    background: linear-gradient(to bottom, #E0B330, #FBEE88, #E0B330) 
    &::before
        background-image: url('../../public/icons/sub-baner-1-bg.svg')

.card-2__sub-banner
    background-color: #2557F6
    &::before
        background-image: url('../../public/icons/sub-baner-2-bg.svg')

.card_sub-banner__card-img
    position: absolute
    left: 0
    width: 250px
    height: 100%
    &::before, &::after
        position: absolute
        content: ""
        height: 100%
        top: 0
        background-repeat: no-repeat
        background-position: 50%
        background-size: cover
        border-radius: 16px
    &::before
        width: 200px
        z-index: 5
    &::after
        width: 100%
        z-index: 4

.card_sub-banner__card-1-img
    &::before
        background-image: url('../../public/icons/sub-baner-1-card.svg')
    &::after
        background-image: url('../../public/icons/sub-baner-1-shadow.svg')

.card_sub-banner__card-2-img
    &::before
        background-image: url('../../public/icons/sub-baner-2-card.svg')
    &::after
        background-image: url('../../public/icons/sub-baner-2-shadow.svg')

.hint-msg
    box-sizing: border-box
    position: absolute
    width: 302px
    padding: 8px 12px
    background-color: #0E0F11
    z-index: -1
    opacity: 0
    font-size: 14px
    border-radius: 10px
    line-height: 19.6px
    right: 2px
    top: 60px
    line-height: 20px
    letter-spacing: 0.18px
    &::before
        position: absolute
        content: ""
        width: 24px
        height: 14px
        top: -8px
        right: 12px
        background-repeat: no-repeat
        background-position: 50%
        background-size: cover
        background-image: url('../../public/icons/hint-arrow-icon.svg')

.hint-msg.hint-msg-vis
    z-index: 10
    opacity: 100