.card__title-wrapper
    display: flex
    flex-direction: column
    align-items: center
    gap: 20px

.card__title-wrapper > img
    width: 80px
    height: 80px
    
.card__title-wrapper__text-wrapper
    display: flex
    flex-direction: column
    align-items: center
    gap: 8px