@font-face
    font-family: 'SF-UI-Display'
    src: url('./public/fonts/SF UI Display.ttf')

@font-face
    font-family: 'Mazzard'
    src: url('./public/fonts/Mazzard.ttf')
    
$desktop: 767px
$tablet: 499px
$mobile: 380px

*
    transition: 0.3s

html
    overflow-x: hidden
    scroll-behavior: smooth
    -webkit-tap-highlight-color: transparent

body
    margin: 0
    padding: 48px 0
    width: 100vw
    min-height: 100vh
    overflow: hidden
    font-family: Asian
    font-size: 18px
    background-color: #F3F7FB
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    position: relative
    font-family: SF-UI-Display

h1, h3, h4, p, ul
    margin: 0

h1
    font-size: 56px

h3
    font-size: 40px

h4
    font-size: 32px

a
    &:link, &:active, &:visited
        color: white
        text-decoration: none
    &:hover
        text-decoration: underline

main
    display: flex
    flex-direction: column
    gap: 48px

button
    cursor: pointer
    &:hover
        opacity: 80%